<div class=" content">
    <div class="row">
        <div class=" col-md-2">
            <h4 class=" card-title">List Reclamation</h4>

        </div>
        <div class=" col-md-10">
            <button style="background-color: darkslategrey;float: right;" mat-fab color="primary" mat-raised-button (click)="openDialog()">
        <mat-icon>plus_one</mat-icon>
        </button>
        </div>
    </div>
    <div class=" row">

        <div class=" col-md-12">
            <div class=" table-full-width table-responsive">
                <table class=" table">
                    <tbody>
                        <tr>

                            <td>
                                <p class=" title">Reclamation 2</p>
                                <p class=" text-muted">
                                    prix paquet légère est très cher
                                </p>
                            </td>
                            <td class=" td-actions text-right">
                                <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body">
                  <i class=" tim-icons icon-pencil"> </i>
                </button>
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <p class=" title">Reclamation 1</p>
                                <p class=" text-muted">
                                    Procédure d'achat tabac est très lourde
                                </p>
                            </td>
                            <td class=" td-actions text-right">
                                <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body">
                  <i class=" tim-icons icon-pencil"> </i>
                </button>
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>