<div class=" content">
    <div class="row">
        <button style="background-color: darkslategrey;" mat-fab color="primary" mat-raised-button (click)="openDialog()">
        <mat-icon>plus_one</mat-icon>
        </button>
    </div>
    <div class=" row">
        <div class=" col-md-6">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Sami Ben Jennat, DG de la RNTA succède à Néji Jelloul à la tête de l’ITES</h4>
                </div>
                <div class=" card-body">


                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-12 pb-4">
                            <h1>Comments</h1>
                            <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-12 pb-4">
                                        <h4>Anonyme</h4> <span>- 20 Jui, 2021</span> </div>
                                    <div class="col-sm-8 col-md-8 col-12 pb-4">

                                        <p>Commantaire </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class=" col-md-6">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title"> Rencontre de monsieur le directeur général de l'institut tunisien des études stratégiques avec son excellence l'ambassadeur de Turquie en Tunisie
                    </h4>
                </div>
                <div class=" card-body">


                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-12 pb-4">
                            <h1>Comments</h1>
                            <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-12 pb-4">
                                        <h4>Amal amal</h4> <span>- 20 Jui, 2021</span> </div>
                                    <div class="col-sm-8 col-md-8 col-12 pb-4">

                                        <p>Commantaire </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>